@use '../../styles/variables' as *;
@use '../../styles/colours' as *;
@use '../../styles/typography' as *;

.content-pane {
  .header {
    background-color: $color_shade8;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: $gutter_l;

    .content-pane-util {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 10px;

      .role {
        color: $color_offwhite;
      }
    }
  }

  .main {
  }

  .message-input {
    display: flex;
    flex-direction: column;
    background-color: $color_shade8;
    gap: 10px;

    #send-message-btn {
      width: max-content;
      align-self: flex-end;
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }
}
