@use '../styles/variables' as *;
@use '../styles/colours' as *;

#dashboard-page {
  width: 100%;
  height: 100%;
  background-color: $color_shade6;

  .layout-grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    gap: $gap;
  }
}

.convo-tile {
  background-color: $color_shade6;
  border: 1px solid $color_shade3;
  margin: 10px;
  padding: $gutter_s $gutter_l;
  border-radius: $border-radius_m;
}
