@use '../styles/variables' as *;
@use '../styles/colours' as *;

.layout-grid-container {
  & > .footer {
    height: $footer-height;
    width: 100%;
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    background-color: $color_shade9;
    gap: $layout-gap;
  }
}
