@use '../../styles/variables' as *;
@use '../../styles/colours' as *;
@use '../../styles/typography' as *;
@use '../../styles/media-queries' as *;

.left-sidebar {
  width: $sidebar-width;
  background-color: $background-color_default;
  z-index: 5;

  @include respond(mobile-small) {
    width: 100%;
  }

  .header {
    width: 100%;
    max-width: 100%;
    height: $header-height;
    display: flex;
    align-items: center;
    background-color: $color_shade9;

    .button {
      height: 100%;
      aspect-ratio: 1 / 1;
      display: grid;
      place-content: center;
      place-content: center;
      cursor: pointer;
      flex: 0;
    }

    .profile-details {
      min-width: 0;
      padding: $gutter_s;
      height: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .profile-name {
        color: $color_white;
      }

      .profile-name,
      .profile-email {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .profile-pic {
      height: 100%;
      aspect-ratio: 1 / 1;
      padding: $gutter_s;
      flex: 0;

      div {
        background-color: $color_shade6;
        display: grid;
        place-content: center;
        border-radius: 100%;
        height: 100%;
        width: 100%;
      }
    }
  }

  .title-container {
    z-index: 1;
    height: $header-height;
    background-color: $color_shade8;
    display: flex;
    align-items: center;
    padding-right: $gutter_s;
    box-shadow: 0 5px 8px $color_shade10;

    .back-button {
      height: 100%;
      aspect-ratio: 1 / 1;
      display: flex;
      align-items: center;
      justify-content: center;
      user-select: none;
      cursor: pointer;
    }

    .util-button {
      height: 40px;
      aspect-ratio: 1 / 1;
      display: flex;
      align-items: center;
      justify-content: center;
      user-select: none;
      border: none;
      cursor: pointer;

      &.refresh-groups-button {
        svg {
          color: $color_success;
        }
      }

      &:first-of-type {
        margin-left: auto;
      }
    }

    .location {
      padding: $gutter_s;
      // aspect-ratio: 1 / 1;
      gap: 3px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .search-container {
    all: unset;
    padding: $gutter_s;
    background-color: $color_shade8;
    display: flex;
    align-items: center;
    gap: 10px;

    button {
      width: max-content;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }

  .main {
    overflow: auto;
    background-color: $color_shade8;
    display: flex;
    flex-direction: column;
    gap: 5px;

    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .footer {
    width: 100%;
    background-color: $color_shade9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
