@use '../styles/variables' as *;
@use '../styles/colours' as *;

.layout-grid-container {
  .content {
    height: 100%;
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: $gap;

    .header {
      height: $header-height;
      background-color: $color_shade8;
    }

    .main {
      flex: 1 1 auto;
      background-color: $color_shade7;
    }

    .message-input {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      height: max-content;
      background-color: $color_shade8;
      gap: 10px;

      #send-message-btn {
        width: max-content;
        align-self: flex-end;
        display: flex;
        gap: 10px;
        align-items: center;

        svg {
          font-size: 1.2rem;
        }
      }
    }
  }
}
