@use '../styles/variables' as *;
@use '../styles/colours' as *;
@use '../styles/typography' as *;

.content-pane {
  .header {
  }

  .main {
  }

  .message-input {
    display: flex;
    flex-direction: column;
    background-color: $color_shade8;
    gap: 10px;

    #send-message-btn {
      width: max-content;
      align-self: flex-end;
      display: flex;
      gap: 10px;
      align-items: center;

      svg {
        font-size: $font-size_xl;
      }
    }
  }
}
