@use '../styles/variables' as *;
@use '../styles/colours' as *;

.left-sidebar {
  width: $sidebar-width;

  .header {
    height: $header-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color_shade9;
    width: 100%;

    .container {
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: space-between;

      .profile-container {
        display: flex;
        align-items: center;
        gap: 20px;
        height: 100%;
        padding: $gutter_s;
        width: 100%;

        .profile-pic {
          height: 100%;
          aspect-ratio: 1 / 1;
          border-radius: 100%;
          border: 1px solid white;
          display: grid;
          place-content: center;
        }

        .profile-details {
          width: 150px;
          display: flex;
          flex-direction: column;
          gap: 3px;

          .profile-name,
          .profile-email {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }

      .logout-button {
        height: 100%;
        aspect-ratio: 1 / 1;
        display: grid;
        place-content: center;
        cursor: pointer;
      }
    }
  }

  .main {
    overflow: auto;
    background-color: $color_shade8;
    display: flex;
    flex-direction: column;
    gap: 5px;

    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .footer {
    height: $header-height;
    width: 100%;
    background-color: $color_shade8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
