@use './typography' as *;
@use './variables' as *;
@use './colours' as *;

body {
  @include font-set_default();
  background-color: $background-color_default;
}

html,
body {
  height: 100%;
  margin: 0;
}

.bg {
  &-primary {
    background-color: $color_primary;
  }
  &-secondary {
    background-color: $color_secondary;
  }
  &-destructive {
    background-color: $color_destructive;
  }
  &-warning {
    background-color: $color_warning;
  }
  &-success {
    background-color: $color_success;
  }
  &-white {
    background-color: $color_white;
  }
  &-offwhite {
    background-color: $color_offwhite;
  }
  &-black {
    background-color: $color_black;
  }
}

.text {
  &-primary {
    color: $color_primary;
  }
  &-secondary {
    color: $color_secondary;
  }
  &-destructive {
    color: $color_destructive;
  }
  &-warning {
    color: $color_warning;
  }
  &-success {
    color: $color_success;
  }
  &-white {
    color: $color_white;
  }
  &-offwhite {
    color: $color_offwhite;
  }
  &-black {
    color: $color_black;
  }
}

input {
  all: unset;
  box-sizing: border-box;
  background-color: $color_shade6;
  height: $element-height_normal;
  padding-inline: 20px;
  font-size: $font-size_m;
  color: $color_white;
  border-radius: $border-radius_s;
  width: 100%;

  &::placeholder {
    color: $color_offwhite;
  }

  &:focus {
    border: 1px solid $color_primary;
  }
}

textarea {
  all: unset;
  box-sizing: border-box;
  background-color: $color_shade6;
  width: 100%;
  word-wrap: break-word;
  padding: $gutter_l;
  border-radius: $border-radius_s;
  height: $element-height_double;
  color: $color_white;

  &::placeholder {
    color: $color_offwhite;
  }

  &:focus {
    border: 1px solid $color_primary;
  }
}

button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: $element-height_normal;
  background-color: $color_shade6;
  padding: 10px 15px;
  border-radius: $border-radius_s;
  color: white;
  text-align: center;
  width: 100%;
  cursor: pointer;

  &.primary {
    background-color: $color_primary;
  }

  &.transparent {
    background-color: transparent;
  }
}

.text-button {
  cursor: pointer;
  user-select: none;
  width: max-content;
}

form {
  gap: 10px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
}

.gutter {
  &_l {
    padding: $gutter_l;

    &_inline {
      padding-inline: $gutter_l;
    }
    &_block {
      padding-block: $gutter_l;
    }
  }
  &_s {
    padding: $gutter_s;

    &_inline {
      padding-inline: $gutter_s;
    }
    &_block {
      padding-block: $gutter_s;
    }
  }
}

.margin {
  &_block {
    margin-block: 20px;
  }
  &_top {
    margin-top: 20px;
  }
  &_bottom {
    margin-bottom: 20px;
  }
}

.bg-image {
  z-index: -10;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.6;
  position: absolute;
  filter: grayscale(1) brightness(0.2);
}

svg.MuiSvgIcon-root {
  font-size: $font-size_xl;
  color: $color_white;
}
