@use './variables' as *;
@use './colours' as *;
@use './typography' as *;

.page-container {
  height: 100dvh;
  width: 100dvw;

  overflow: hidden;
  position: relative;

  display: flex;
  flex-direction: column;

  & > .page {
    height: 100%;
    overflow: auto;
    flex: 1 1;
  }
}

#dashboard-page > .layout-grid {
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: $layout-gap;

  .left-sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    gap: $layout-gap;

    .main {
      flex: 1;
    }
  }

  .content-pane {
    display: flex;
    flex-direction: column;

    .header {
      height: $header-height;
    }

    .main {
      flex: 1;
    }

    .message-input {
      height: max-content;
      max-width: 100%;
    }
  }
}
