$gutter_s: 10px;
$gutter_l: 20px;

$element-height_normal: 32px;
$element-height_large: 64px;
$element-height_double: 80px;

$border-radius_s: 4px;
$border-radius_m: 8px;
$border-radius_l: 10px;

$header-height: 60px;
$sidebar-width: 300px;
$footer-height: 25px;
$message-input-height: 80px;

$layout-gap: 1px;

$outlines: 1px solid grey;
